<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 
	<bean id="helloBean" class="com.sanchii.java.spring.hellowworld_256.bean.HelloWorld1">
		<property name="name" value="Gunjan" />
	</bean>
 
 
 	<bean id="helloBean1" class="com.sanchii.java.spring.hellowworld_305.bean.HelloWorld">
		<property name="name" value="Gunjan1" />
	</bean>
</beans>