<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
 	
 	
 	<!-- use one or more occurrences of the <import/> element to load bean definitions from another file or files -->
	<!-- hello/helloBeans.xml has specific beans defined which are imported using <import/>  --> 	
 	<import resource="hello/helloBeans.xml"/>

 	
 	<!-- Specifying all aliases where the bean is actually defined is not always adequate, however. 
 	It is sometimes desirable to introduce an alias for a bean that is defined elsewhere.
 	 This is commonly the case in large systems where configuration is split amongst each subsystem, 
 	 each subsystem having its own set of object definitions. 
 	 In XML-based configuration metadata, you can use the <alias/> element to accomplish this -->
 	
 	<alias name="helloBean" alias="myFirstBean"/>
	
</beans>